<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mod_login">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application>
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.RegisterActivity" />
    </application>

</manifest>